* {
    margin: 0px;
    padding: 0px;
    font-family:"Lato", "Verdana", sans-serif;
}
.wrapper {
    width: 1020px;
    margin: 0px auto;
    position: relative;
}
.header .wrapper {
    background-color: #2d303a;
    height: 90px;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px;
    padding-left: 40.5px;
    padding-top: 30.5px; 
}
.header span {
    font-size: 28px;
    font-weight: 700;
    color: #f06c64;
    position: absolute;
    top: 29.5px;
    left: 147px;
}
.navigation {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 42.5px;
    left: 598px;
    list-style-type: none;
}
.navigation a {
    text-decoration: none;
    color: inherit;
}
.navigation li {
    display: inline;
    padding-left: 11px;
}
.navigation li:not(:first-child)::before {
    content: "·     ";
    color: #494e62;
    white-space: pre;
    letter-spacing: 0.05px;
    text-decoration: none;
}
.navigation li:first-child {color: #a25453;
}
.navigation li:hover {
    color: #a25453;
    cursor: pointer;
}
.header__bottom {
    height: 5px;
    width: 1020px;
    margin: 0px auto;
    background-color: #323746;
}
.slider .wrapper {
    background-color: #f06c64;
    height: 595px;
}
.slider__bottom {
    height: 5px;
    width: 1020px;
    margin: 0px auto;
    background-color: #ea676b;
}
.slider__left {
    width: 20px;
    height: 32px;
    position: absolute;
    top: 278px;
    left: 39px;
}
.slider__right {
    width: 20px;
    height: 32px;
    position: absolute;
    top: 278px;
    left: 963px;
}
.slider__left path, .slider__right path {
    fill: #ca4549;
}
.slider__left path:hover, .slider__right path:hover {
    fill: #84ced9;
    cursor: pointer;
}
.telefon__vertical {
    position: absolute;
    top: 52px;
    left: 112px;
}
.telefon__vertical img.phone {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.telefon__vertical img.shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.telefon__vertical img.screen {
    position: absolute;
    top: 62px;
    left: 11px;
    z-index: 10;
}
.telefon__horizontal {
    position: absolute;
    top: 174px;
    left: 425px;
}
.telefon__horizontal img.phone {
    position: absolute;
    top: -122px;
    left: 122px;
    transform: rotate(90deg);
    z-index: 5;
}
.telefon__horizontal img.shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.telefon__horizontal img.screen {
    position: absolute;
    top: 11px;
    left: 58px;
    z-index: 10;
}
.services .wrapper {
    background-color: #f2f2f2;
    height: 494px;
}
.services__bottom {
    height: 5px;
    width: 1020px;
    margin: 0px auto;
    background-color: #ffffff;
}
.services__title-item {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    text-transform: capitalize;
    line-height: 18px;
    margin: 0px;
    padding-left: 40px;
    padding-top: 69px;
    padding-bottom: 26px; 
}
.services__text-item {
    font-size: 18px;
    font-weight: 300;
    color: #666d89;
    line-height: 30px;
    margin: 0px;
    padding: 0px 40px;
    text-align: justify;
}
.layout-3-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.layout-3-columns--services {
    width: 940px;
    height: 246px;
    padding-top: 44px;
    margin: 0 auto;
}
.service {
    flex-basis: 300px;
    flex-grow: 0;
}
.icon {
    background-image: url('assets/Services_icons.png');
    background-repeat: no-repeat;    
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 2.5px;
}
.description {
    width: 220px;
    height: 90px;
    overflow: hidden;
    padding-left: 20px;
}
.description__title-item {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px 0px;    
}
.service__5 .description__title-item {
    letter-spacing: 0.5px;
}
.description__text-item {
    font-size: 12px;
    line-height: 21.6px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    letter-spacing: 0.02em;
}
.icon.service__1 {
    background-position: 0px 0px;
}
.icon.service__2 {
    background-position: -319px 0px;
}
.icon.service__3 {
    background-position: -638px 0px;
}
.icon.service__4 {
    background-position: 0px -122px;
}
.icon.service__5 {
    background-position: -319px -122px;
}
.icon.service__6 {
    background-position: -638px -122px;
}