* {
  margin: 0px;
  padding: 0px;
}
.wrapper {
  width: 1020px;
  margin: 0px auto;
  position: relative;
}
.portfolio .wrapper {
  background-color: #2d303a;
  height: 865px;
}
.portfolio__bottom {
  height: 5px;
  width: 1020px;
  margin: 0px auto;
  background-color: #323746;
}
.portfolio h2 {font-family:'Lato', 'Verdana', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  padding-left: 40.5px;
  padding-top: 61px; 
}
.portfolio p {font-family:'Lato', 'Verdana', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;
  line-height: 30px;
  padding-left: 40.5px;
  padding-right: 40.5px;
  padding-top: 19px;
  letter-spacing: 0.005rem;
 }
 .portfolio__tag {font-family:'Lato', 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 41px;
  padding-top: 11px;
  text-transform: capitalize;
 }
 .portfolio .tag {
   color: #767e9e;
   border: solid #767e9e 1px;
   border-radius: 5px;
   padding: 2.5px 6px;
   margin-left: 7.5px;
 }
 .portfolio .tag.tag__colored {
  color: #dedede;
  border-color: #dedede;
  margin-left: 0px;
}
.layout__4__columns {
  width: 939px;
  height: 621px;
  margin: 0 auto;
  padding-top: 19px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}
.Portfolio {
  display: block;
  flex: 0 0 220px;
  margin-bottom: 20px;
}
.aboutus .wrapper {
  background-color: #f2f2f2;
  height: 730px;
}
.aboutus__bottom {
  height: 5px;
  width: 1020px;
  margin: 0px auto;
  background-color: #ffffff;
}
.aboutus h2 {font-family:'Lato', 'Verdana', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  line-height: 18px;
  padding-top: 68px;
  text-transform: capitalize;
  padding-left: 40.5px;
}
.aboutus__text {font-family:'Lato', 'Verdana', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;
  line-height: 30px;
  padding-top: 27px;
  letter-spacing: 0.005rem;
  padding-left: 40.5px;
  padding-right: 40.5px;
 }
 .layout__3__columns {
  width: 940px;
  height: 229px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
}
.person {
  flex: 0 0 300px;
}
.person img {
  display: block;
  padding-top: 45px;
}
.person h3 {
  display: block;
  overflow:hidden;
  width: 300px;
  height: 18px;
  font-family:'Lato', 'Verdana', sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  line-height: 18px;
  padding-top: 16px;
 }
 .aboutus .person p {
  font-family:'Lato', 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #767e9e;
  line-height: 22px;
  padding-top: 10px;
 }
.icons__media {
  padding-top: 22px;
  padding-left: 1px;
}
.icons__media div {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
.facebook {
  background-image: url("assets/socialmedia.png");
  background-position: 0px 0px;
}
.mail {
  background-image: url("assets/socialmedia.png");
  background-position: -40px 0px;
}
.twitter {
  background-image: url("assets/socialmedia.png");
  background-position: -80px 0px;
}
.linkedin {
  background-image: url("assets/socialmedia.png");
  background-position: -120px 0px;
}
.icons__media div:hover {
  transform: scale(1.2);
}
.portfolio__tag .tag:hover {
  color: #4ab48f;
  border: solid #4ab48f 2px;
  cursor: pointer;
}